#home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
}

.Typewriter,
#home > div > p:nth-child(2) {
  display: inline;
  font-size: 3rem;
  font-weight: 900;
}

#home > div > p:nth-child(3) {
  font-size: 2rem;
  font-weight: 700;
}

#home > div p:nth-child(4) {
  font-size: 1.5rem;
  font-weight: 500;
}

.Typewriter__cursor {
  color: transparent;
}

/* ==================== */
#home div:last-child {
  margin-top: -10rem;
}

#home div:last-child img {
  width: 30rem;
}

@media screen and (max-width: 600px) {
  #home {
    flex-direction: column;
  }

  #home div:last-child {
    margin-top: 0rem;
  }

  #home div:last-child img {
    width: 20rem;
  }

  .Typewriter,
  #home > div > p:nth-child(2) {
    font-size: 2rem;
    font-weight: 00;
  }
}
