#contact {
  background: white url("../../public/contact-bg.jpg") center center no-repeat;
  background-size: cover;
  scroll-margin-top: 80px;
}

#contact > div {
  width: 80%;
  margin-top: 100px;
  margin: 0 auto;
  min-height: 80vh;
  background: rgba(7, 125, 212, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(7, 125, 212, 0.12);
}

#form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 4rem auto;
}

#form input,
textarea {
  outline: none;
  padding: 3px;
  border: none;
  font-family: inherit;
}

#form input {
  height: 30px;
  margin-bottom: 3.5rem;
}

#form textarea {
  min-height: 15rem;
}

#form button {
  margin-top: 2rem;
}
